.cards {
  margin: 40px;
}

.card-img {
  width: auto;
}

.card-img img {
  width: 150px;
  height: 150px;
  padding-right: 20px;
  margin: 0;
}

.card-text {
  width: auto;
}

.card-body {
  display: flex;
  align-items: center;
}

.cards .card {
  margin-top: 20px;
}
