@font-face {
  font-family: "uni-sans-bold";
  src: local("uni-sans"),
    url(../fonts/uni-sans-semibold-webfont.woff) format("woff");
}
@font-face {
  font-family: "uni-sans-reg";
  src: local("uni-sans"),
    url(../fonts/uni-sans-book-webfont.woff) format("woff");
}
.card-img {
  width: fit-content;
  margin-right: 20px;
}

.card-img img {
  width: 150px;
  height: 150px;
  padding-right: 20px;
  margin: 0;
}

.card-text {
  display: inline-block;
  width: auto;
  font-family: "uni-sans-reg", Arial, Helvetica, sans-serif;
  letter-spacing: 0.5px;
  font-size: 16px;
}

.card-title {
  text-align: left;
  margin: 0 0 16px;
  color: #fff;
  letter-spacing: 1px;
  word-spacing: 2px;
  font: 31px/34px "uni-sans-bold", Arial, Helvetica, sans-serif;
}

.card-body {
  display: flex;
  align-items: center;
}

.cards .card {
  margin-top: 20px;
  margin: 20px;
}

.cards {
  margin: 10px;
}

.buy-bitcoins {
  margin: 0 auto;
  min-width: 10px;
  width: 120px;
  height: 101px;
  background: url(../img/sprite-index.svg) no-repeat;
  background-size: 630%;
  background-position: -0.3% 79.3%;
}

.trade-icon {
  margin: 0 auto;
  min-width: 10px;
  width: 120px;
  height: 101px;
  background: url(../img/sprite-index.svg) no-repeat;
  background-size: 630%;
  background-position: 20.2% 79.3%;
}

.card {
  margin: 10px;
  background: #1c8fbb;
  padding: 15px 5px;
  color: #fff;
  overflow: hidden;
  font-size: 18px;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  border-radius: 0;
}

@media (min-width: 992px) {
  .card .content {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 992px) {
  .cards .card {
    margin: 10px;
  }
  .card-title {
    text-align: center;
  }
  .card-text {
    padding: 10px;
  }
  .card-img {
    margin: 0 auto;
  }
}
