@font-face {
  font-family: "uni-sans";
  src: local("uni-sans"),
    url(../fonts/uni-sans-semibold-webfont.woff) format("woff");
}
.footer {
  font-size: 12px;
  color: #999;
  background: #232a34;
  position: relative;
  z-index: 100;
  padding: 20px 0;
}

.footer-title {
  font-weight: 800;
  font-size: 16px;
  color: white;
  margin-top: 12px;
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 5px;
}

.footer a {
  font-size: 13px;
  color: grey;
  text-decoration: none;
  width: auto;
}

.footer a:hover {
  color: white;
  text-decoration: underline;
}

.copyright {
  color: grey;
  background-color: #1b2028;
}

.copyright p {
  margin: 0;
  padding: 13px;
  font-size: 12px;
  text-align: center;
}

.footer .row {
  justify-content: space-between;
  border-bottom: none !important;
}
