@font-face {
  font-family: "uni-sans";
  src: local("uni-sans"),
    url(../fonts/uni-sans-semibold-webfont.woff) format("woff");
}
.get-started {
  color: white;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  border-top: 10px solid #1783ac;
  border-bottom: 10px solid #1783ac;
  background: #00c2d2;
}

.get-started p {
  text-align: center;
  color: #fff;
  margin: auto;
  padding: 10px 90px;
  font: 20px/24px "source_sans_prolight", Arial, Helvetica, sans-serif;
}

.btn-get-started {
  margin: 20px;
  padding: 15px 55px;
  border-width: 3px;
}

@media (max-width: 576px) {
  .btn-get-started {
    margin-top: 0px;
    margin-bottom: 10px;
    padding: 15px 55px;
    border-width: 3px;
  }
}
