.logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 10%;
  color: white;
}

.logo-img {
  float: left;
  min-width: 10px;
  width: 283px;
  height: 283px;
  background: url("../img/sprite-index.svg") no-repeat;
  background-position: 89.8% 108.6%;
  outline: none;
}

.logo .text {
  text-align: left;
}

.logo h2 {
  font-size: 65px;
  font-weight: bolder;
  margin: 0;
}

.logo h3 {
  margin: 0;
  font-size: 20px;
  font-weight: bold;
}
