@font-face {
  font-family: "uni-sans-bold";
  src: local("uni-sans-bold"),
    url(../fonts/uni-sans-bold-webfont.woff) format("woff");
}
.qualities {
  padding: 90px 0px;
  background-color: #0f4c77;
  color: white;
  margin-top: 0;
}

.qualities h3 {
  display: block;
  letter-spacing: 1px;
  font-size: 18px;
  font-style: normal;
  line-height: 20px;
  position: relative;
  color: white;
  margin: 0 0 5px;
  text-transform: uppercase;
}

.q-body {
  padding: 0;
  margin: 0;
}

.q-card > .row > .col-xl-8 {
  margin: 0;
  padding: 0;
}

.q-card .icon {
  margin: 0;
  padding: 0;
}

.q-card {
  color: #fff;
  letter-spacing: 1px;
  text-align: left;
}

.q-card .row {
  justify-content: flex-start;
  padding: 10px;
}

.q-col {
  margin: 10px 20px;
}

.qualities .row {
  justify-content: space-evenly;
}

.index-icon {
  float: left;
  min-width: 10px;
  width: 55px;
  height: 55px;
  background: url(../img/sprite-index.svg) no-repeat;
  background-size: 926%;
}

.q-card .col-md-1 {
  padding: 0;
  width: fit-content;
  height: fit-content;
}

.q-body:nth-child(1) {
 font-weight: normal !important;
  font-size: 15px;
}
.qualities h1 {
  color: #fff;
  text-align: center;
  font: 40px/40px "uni_sans_boldregular", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.index-icon.payment {
  background-position: 24.7% 60%;
}
.index-icon.security {
  background-position: 12.7% 60%;
}
.index-icon.coverage {
  background-position: 48.3% 60%;
}
.index-icon.legal {
  background-position: 101% 60%;
}
.index-icon.margin {
  background-position: 73.7% 60%;
}
.index-icon.commissions {
  background-position: 88% 60%;
}
.index-icon.cross-platform {
  background-position: 60.8% 60%;
}
.index-icon.reporting {
  background-position: -0.2% 60%;
}
.index-icon.liquidity {
  background-position: 36.7% 60%;
}

.q-card .icon {
  display: flex;
  justify-content: center;
}

@media (max-width: 991px) {
  .qualities h1 {
    font-size: 35px;
    font-weight: bolder !important;
    text-align: center;
    line-height: 50px;
    padding: 0 10px;
  }
  .index-icon {
    min-width: 10px;
    width: 55px;
    height: 55px;
    background-size: 926%;
  }
  .q-body {
    padding: 0;
    text-align: center;
  }
  .q-body h3 {
    text-align: center;
  }
}
